.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: center;
  }
  .spinner {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}

::ng-deep .mat-tab-label {
  min-width: 116px !important;
}
